{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {

            var displayResources = $('#show-data');

            displayResources.text('Loading data ...');

            $.ajax({
                type: "GET",
                url: "/get_mons",
                success: function (result) {
                    console.log(result);
                    var output = "<table><thead><tr><th>Name</th><th>ID</th><th>Level</th><th>Pic</th><th>Match</th></thead><tbody>";
                    for (var i in result) {
                        output += "<tr><td>" + result[i].name + "</td><td>" + result[i].mon + "</td><td>" + result[i].lvl + "</td><td><img src='" + result[i].filename + "' width=100></td><td><a href='modify_raid_mon?hash={{ hash }}&mon=" + result[i].mon + "&gym={{ gym }}&lvl={{ lvl }}'>Match this </a> </td></tr>";
                    }
                    output += "</tbody></table>";

                    displayResources.html(output);
                    $("table").addClass("table");
                    $('table').DataTable({
                        responsive: {{ responsive }},
                        "order": [[1, "asc"]],
                        "autoWidth": true
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Modify detecting Mon</h2>
    <h4><a href="/raids">Back to Raids</a></h4>
    <div id="show-data"></div>
{% endblock %}