{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <img src="{{ url_for('static', filename='banner_small_web.png') }}" class="responsive">
    <center>
        <h1>MADmin</h1>
        <h3><a href="/raids">Check Raids</a></h3>
        <h3><a href="/gyms">Check Gyms</a></h3>
        <h3><a href="/unknown">Check Unknown Gyms</a></h3>
        <h3><a href="/screens">Processed Screens</a></h3>
        <h3><a href="/map">Map</a></h3>
    </center>
{% endblock %}