{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>

    <script>
        $(document).ready(function () {

            var displayResources = $('#show-data');

            displayResources.text('Loading data ...');

            $.ajax({
                type: "GET",
                url: "/get_screens",
                success: function (result) {
                    result.sort(function (a, b) {
                        if (a.creation > b.creation) {
                            return -1;
                        }
                        if (a.creation < b.creation) {
                            return 1;
                        }
                        return 0;
                    });
                    console.log(result);
                    var output = "<table><thead><tr><th>Image</th><th>Filename</th><th>Creation Date</th></thead><tbody>";
                    for (var i in result) {
                        output += "<tr><td><img class='lazy' data-original='" + result[i].filename + "' width=400></td><td>" + result[i].filename + "</td><td>" + result[i].creation + "</td></tr>";
                    }
                    output += "</tbody></table>";

                    displayResources.html(output);
                    $("table").addClass("table");
                    $('table').DataTable({
                        drawCallback: function () {
                            $("img.lazy").lazyload();
                        },
                        "order": [[2, "desc"]],
                        responsive: {{ responsive }},
                        "autoWidth": true,
                        columnDefs: [{ targets: [2], type: 'date' }]
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Show Screens</h2>
    <h4><a href="/">Back to Menu</a></h4>
    <div id="show-data"></div>
{% endblock %}