{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.js"></script>

    <script>
        $(document).ready(function () {
            $("#navunknown").addClass("active");

            var displayResources = $('#show-data');

            displayResources.text('Loading data ...');

            $.ajax({
                type: "GET",
                url: "/get_unknows",
                success: function (result) {
                    var output = "<table><thead><tr><th>Hash</th><th>Hashpic</th><th>Lat</th><th>Lon</th><th>Creation Date</th></thead><tbody>";
                    for (var i in result) {
                        if (result[i].lat === "9999") {
                            vlat = 'MADBot'
                            vlon = 'MADBot'
                        } else {
                            vlat = result[i].lat
                            vlon = result[i].lon
                        }
                        output += "<tr><td>" + result[i].hashvalue + "<br><br><a href='/match_unknows?hash=" + result[i].hashvalue + "&lat=" + result[i].lat + "&lon=" + result[i].lon + "'>Match Gym</a><br><a href='/delete_file?hash=" + result[i].hashvalue + "&type=gym&redirect=unknown'>Delete</a></td><td><img class='lazy' data-original='../" + result[i].filename + "' width=100></td><td>" + vlat + "</td><td>" + vlon + "</td><td>" + result[i].creation + "</td></tr>";
                    }
                    output += "</tbody></table>";

                    displayResources.html(output);
                    $("table").addClass("table");
                    $('table').DataTable({
                        drawCallback: function () {
                            $("img.lazy").lazyload();
                        },
                        "order": [[4, "desc"]],
                        responsive: {{ responsive }},
                        columnDefs: [{ targets: [4], type: 'date' }]
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Check unknown Gyms</h2>
    <div id="show-data"></div>
{% endblock %}